<!--<footer style="position : absolute; top : 1300px; background-color:black">-->
<div style=" background-color:black">
<table style="width:100%" border="0"cellpadding="10"cellspacing="0">
		<tr>
			<td style="color:orange;">Customer Service </td><td style="color:orange;"> About Us </td><td style="color:orange;">Join Us</td><td style="color:orange; text-align: center"> Payment Methods & Payment Partner </td>
		</tr>
		<tr>
			<td>
			<a style="color:white;" href="help.php">Help Center</a><br/>
			<a style="color:white;" href="howtoshop.php">How to shop</a><br/>
			<a style="color:white;" href="trackOrder.html">Track your order</a><br/>
			<a style="color:white;" href="help.php">Contact Us</a><br/>
			</td>
			<td>
			<a style="color:white;"href="FnF_Home.html">About FnF</a><br/>
			<a style="color:white;"href="career.html">Careers</a><br/>
			<a style="color:white;"href="privecy.html">Privecy & Policy</a><br/>
			</td>
			<td>
			<a style="color:white;"href="www.facebook.com/fnf">Facebook</a><br/>
			<a style="color:white;"href="www.youtube.com/fnf">Youtube</a><br/>
			<a style="color:white;"href="www.twitter.com/fnf">Twitter</a><br/>
			<a style="color:white;"href="www.googleplus/fnf">Google+</a><br/>
			</td>
			<td align ='center'> 
			<a style="color:white; "href="bkashPayment.php">Bkash</a><br/>
			<a style="color:white;"href="MobilePayment.php">DBBL</a><br/>
			<a style="color:white;"href="DebitCreditCardPayment.php">VISA</a><br/>
			<a style="color:white;"href="DebitCreditCardPayment.php">Master Card</a><br/>
			<a style="color:white;"href="payment.php">Pay With Cash</a><br/>
			</td>
		</tr>
	</table>
<!--</footer>-->
</div>