<!DOCTYPE html>
<!--<html>
<head>
	<title></title>
</head>
<body>
	<form method="post">
                
		 <input type="text" name="search" id="search" placeholder="Search for Products, Brands and Categories" size="40">
		 <input type="submit" name="search" id="search" value="Search" style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:3px">
    </form>
</body>
</html>-->