<table style="width:100%" cellpadding="4" cellspacing="4">
					<tr>
						<td>
			
							<font size="5px"><b style="color:purple"><a class="none" href="">All Category</a><b></font>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown1">
							<button class="dropbtn1" >Men's Fashion </button>
							<div class="dropdown1-content">
							<a href="/productlist?category_id=1">Casual Shirt</a>
							<a href="JeansPants.php">Jeans Pants</a>
							<a href="FormalShirt.php">Formal Shirts</a>
							<a href="FormalPant.php">Formal Pants</a>
							<a href="Watch.php">Watch</a>
							<a href="Footwear.php">Footwear</a>
							<a href="SportProduct.php">Sports Outfit</a>
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown1">
							<button class="dropbtn1">Women's Fashion</button>
							<div class="dropdown1-content">
							<a href="dress.php">Dresses</a>
							<a href="cosmetics.php">Cosmetics</a>
							<a href="shoe.php">Women's shoes</a>
							<a href="Jewelleries.php">Women's Jewelleries</a>							
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown1">
							<button class="dropbtn1">Phone and Tablets</button>
							<div class="dropdown1-content">
							<a href="SmartPhone.php">Smart Phones</a>
							<a href="SmartWatch.php">Smart Watch</a>
							<a href="Accesories.php">Accesories</a>
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown1">
							<button class="dropbtn1">Home and Livings</button>
							<div class="dropdown1-content">
							<a href="Lighting.php">Lighting</a>
							<a href="Bedding.php">Bedding</a>
							<a href="Furniture.php">Furniture</a>
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown1">
							<button class="dropbtn1">Computing and Gaming</button>
							<div class="dropdown1-content">
							<a href="laptop.php">Laptops</a>
							<a href="Storage.php">Storage</a>
							<a href="Monitor.php">Monitors</a>
							<a href="comOther.php">Others</a>
							</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown1">
							<button class="dropbtn1">Others</button>
							<div class="dropdown1-content">
							<a href="Auto.php">Automobiles</a>
							<a href="kid.php">KIDS</a>
							<a href="pet.php">Pets</a>
							</div>
							</div>
						</td>
					</tr>
				</table>