<!DOCTYPE html>
<html>
<head>
	<title>Insert Product</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<table>
			<form method="post">
				<tr>
					<td>Product name: </td>
					<td><input type="text" name="productName"></td>
				</tr>
				<tr>
					<td>Product price: </td>
					<td><input type="text" name="productPrice"></td>
				</tr>
				<tr>
					<td>Product size: </td>
					<td><input type="text" name="productSize"></td>
				</tr>
				<tr>
					<td>Product quantity: </td>
					<td><input type="text" name="productQuantity"></td>
				</tr>
				<tr>
					<td>Select image to upload: </td>
					<td>
					    <input type="file" name="image" id="fileToUpload">
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="submit"></td>
				</tr>
			</form>
		</table>
	</div>
</body>
</html>